<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div style="width:70%;margin:0px auto;">
    <div style="padding: 10px 0px;">
       <a routerLink="/create" routerLinkActive="active">
          <input type="button" value="Click here to Add New post" />
        </a>
    </div>
    <div style="padding: 10px 0px;">
       <a routerLink="/list" routerLinkActive="active">
         <input type="button" value="Click here to see list of posts" />
       </a>
    </div>

  </div>

</div>
